.hero {
    position: relative; 
    overflow: hidden;   
    min-height: 80vh;   
    z-index: 1;
}

.hero-principal {
    z-index: 10; 
    position: relative;
}

.hero-gif {
    width: 500px; 
    margin-right: 30px; 
}


.floating-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    
}

.float-img {
    position: absolute;
    width: 80px; 
    opacity: 0.8; 
    filter: grayscale(30%);
    animation: floatAround 20s infinite linear;
}

.float-img:hover {
    opacity: 1;              
    filter: grayscale(0%);    
    transform: scale(1.5);   
    z-index: 15;              
    cursor: pointer;         
    animation-play-state: paused; 
    transition: all 0.3s ease;   
}

@keyframes floatAround {
    0% { transform: translate(0, 0) rotate(0deg); }
    33% { transform: translate(100px, 100px) rotate(120deg); }
    66% { transform: translate(-50px, 200px) rotate(240deg); }
    100% { transform: translate(0, 0) rotate(360deg); }
}

.float-img:nth-child(1) { top: 10%; left: 15%; animation-duration: 25s; }
.float-img:nth-child(2) { top: 60%; left: 70%; animation-duration: 18s; animation-direction: reverse; }
.float-img:nth-child(3) { top: 30%; left: 80%; animation-duration: 22s; }